p,
label {
	font-size: medium;
}

button,
select,
input {
	margin-bottom: 0.67em;
	font-size: medium;
}

form {
	padding: 0.5em;
	background-color: lightgrey;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
